body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #e6f2e6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
    padding-top: 20px;
}

/* Server Status Indicator Styles */
.server-status {
    display: flex;
    align-items: center;
    background-color: white; /* Maintain a subtle background */
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative; /* Ensure proper positioning for animations */
}

.status-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffc107; /* Yellow for checking */
    transition: background-color 0.1s ease;
}

.status-icon.green {
    background-color: #28a745; /* Green for live */
}

.status-icon.red {
    background-color: #dc3545; /* Red for sleeping/unreachable */
}

.status-icon.yellow {
    background-color: #ffc107; /* Yellow for checking */
}

.status-text {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    transition: color 0.1s ease;
}

/* Enhanced Blinking Animation Keyframes */
@keyframes enhanced-blink {
    0% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
        box-shadow: 0 0 20px rgba(255, 193, 7, 0.8);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
    }
}

/* Enhanced Blink Animation Class */
.blink {
    animation: enhanced-blink 0.1s ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #4a5568;
    font-size: 24px;
    outline: none;
    position: absolute; /* Added */
    left: 0px; /* Added */
    top: 10px; /* Added */
}

.menu-button:hover {
    background: none; /* Remove background on hover */
}

.header {
    background: linear-gradient(45deg, #d4f1d4, #d4f1f9, #e1d4f1, #d4f1d4, #d4f1f9, #e1d4f1);
    background-size: 300% 300%;
    animation: gradientAnimation 10s linear infinite;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    position: relative; /* Added */
}

.header .row.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.header .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 80px); /* Adjusted */
    background: none;
    color: #0c2512;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Pacifico', cursive;
    padding-bottom: 10px;
    margin: 0 auto; /* Added */
}

.header .version {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #0c2512;
    padding: 3px 6px;
    border-radius: 4px;
    /* margin: 0 20px; */
    margin-top: 24px;
}

/* Minimal arrow buttons */
.nav-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    /* padding: 0; */
    margin: 0;
    color: #4a5568;
    font-size: 24px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
    transition: background-color 0.05s ease;
    outline: none; /* Ensure no outline on focus */
}

.nav-button:hover {
    background: none; /* Remove background on hover */
}

.nav-button:active {
    background: none; /* Remove background on hover */
}

.date-navigation {
    display: flex;
    justify-content: center; /* Center the items */
    align-items: center; /* Align items vertically */
    width: 100%;
    gap: 20px;
}

/* Add new styles for the unified date/today button */
.date-button {
    display: flex;
    align-items: center;
    /* padding: 10px 20px; */
    border: none;
    /* border-radius: 10px; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.05s ease;
    font-size: 16px;
    color: #4a5568;
    margin: 0;
    /* width: 75%; */
    height: 40px;
}

.date-button:hover {
    background-color: #f1f1f1;
}

.date-button:active {
    background-color: #e1e1e1;
}

.date-button i {
    margin-right: 10px;
    color: #4a5568;
}

#currentDateDisplay {
    font-size: 18px;
    font-weight: bold;
    color: #0c2512;
    padding: 5px;
    border-radius: 5px;
    margin: 0; /* Reset margins */
    position: absolute; /* Position the date absolutely */
    left: 50%; /* Move the date to the center */
    transform: translateX(-50%); /* Center the date */
}

.banner-image {
    width: 100%;
    height: auto;
}

.meal-name-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.meal-name-group input[type="text"] {
    flex: 3;
    margin-right: 10px;
}

.generateMacrosButton {
    flex: 1;
    padding: 5px 10px;  /* Adjust padding if needed */
    /* font-size: 14px; */
    background-color: rgba(12, 37, 18, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.05s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

.generateMacrosButton:hover {
    background-color: rgba(12, 37, 18, 0.9);
}

.generateMacrosButton:active {
    background-color: rgba(12, 37, 18, 1);
    transform: translateY(1px);
}

.meals, .exercise, .summary {
    margin-bottom: 20px;
    padding: 0 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button, .image-upload-container label, .modal-content button {
    background-color: rgba(12, 37, 18, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.05s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

button:hover, .image-upload-container label:hover, .modal-content button:hover {
    background-color: rgba(12, 37, 18, 0.9);
    border-color: white;
}

button:active, .image-upload-container label:active, .modal-content button:active {
    background-color: rgba(12, 37, 18, 1);
    transform: translateY(1px);
}

.meal-item .drag-area {
    width: 24px;
    height: 24px;
    cursor: move;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    touch-action: none; /* Prevents scrolling on touch devices when trying to drag */
    margin: 0;
}

.meal-item .drag-area::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background-image:
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px),
        radial-gradient(circle, black 1.5px, transparent 1.5px);
    background-size: 33.33% 33.33%;
    background-position:
        0 0, 50% 0, 100% 0,
        0 50%, 50% 50%, 100% 50%,
        0 100%, 50% 100%, 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.05s ease;
}

.meal-item .drag-area:hover::before {
    opacity: 0.7;
}

.meal-item .drag-area:active::before {
    opacity: 1;
}

.meal-slot {
    background-color: #ebf3e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.meal-slot h3 {
    margin-top: 0;
    color: #2e312e;
}

.meal-form, #exerciseForm {
    display: none;
}

.meal-item, .exercise-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.meal-item .meal-image {
    max-width: 60px;
    max-height: 60px;
    border-radius: 5px;
    margin: 0 10px;
}

.meal-item .meal-image[src] {
    display: block; /* Only display when src is present */
}

.meal-item .meal-info {
    flex: 1;
    text-align: left; /* Align text to the left */
    padding: 0 10px; /* Add padding for better spacing */
}

.meal-item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.meal-item p, .exercise-item p {
    margin: 0;
    color: #666;
}

.meal-item .button-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meal-item .button-area button, .exercise-item .button-area button {
    width: 40px; /* Adjust button width */
    height: 40px; /* Adjust button height */
    padding: 0;
    font-size: 20px; /* Increase font size */
    border-radius: 5px;
    border: none;
    margin: 0; /* Remove margin */
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-item .button-area .edit-button {
    background-color: #007bff; /* Blue color */
}

.meal-item .button-area .remove-button, .exercise-item .button-area .remove-button {
    background-color: #dc3545; /* Red color */
}

/* Styles for the duplicate button */
.meal-item .button-area .duplicate-button {
    background-color: #28a745; /* Darker green color */
    /* border: 2px solid rgba(255, 255, 255, 0.9); */
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 40px; /* Same size as other buttons */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-item {
    justify-content: space-between; /* Ensure space between text and button */
}

.exercise-item .exercise-info {
    flex: 1;
}

.exercise-item .button-area {
    flex: 0 0 auto;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}
.progress-bar-label {
    width: 20%;
    padding-right: 5px;
}
.progress-bar {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #e0f2e9;
    z-index: 1;
}
.progress-bar-fill {
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: #0c2512;
    line-height: 20px;
    background: linear-gradient(45deg, #b8e6b8, #b8e6f2, #d1b8e6, #b8e6b8, #b8e6f2, #d1b8e6);
    background-size: 300% 300%;
    animation: gradientAnimation 10s linear infinite;
    transition: width 0.5s ease-in-out;
    z-index: 2;
}
.progress-bar-overfill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4) 10px,
        rgba(255, 255, 255, 1) 10px,
        rgba(255, 255, 255, 1) 20px
    );
    transition: width 0.5s ease-in-out;
    z-index: 5;
}
.progress-bar-text {
    z-index: 10;
}

.image-upload-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload-container input[type="file"] {
    display: none;
}

.image-upload-container label {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

#uploadedImage {
    max-width: 100%;
    margin-top: 10px;
    display: none;
}

#uploadedImageBreakfast,
#uploadedImageLunch,
#uploadedImageDinner,
#uploadedImageSnacks {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scroll */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    padding-top: 10vh; /* Add padding to move the content up slightly */
}

/* Modal content for login */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 10px; /* Adjust padding to match the popup menu */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ensure consistent styles for all input fields */
.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: calc(100% - 20px); /* Ensure full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-size: 16px;
}

/* Adjust buttons to match the style of the popup menu */
.modal-content button, .google-login-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgba(12, 37, 18, 0.7); /* Match theme color */
    border: none;
    color: white;
    transition: background-color 0.05s ease;
}

.modal-content button:hover, .google-login-button:hover {
    background-color: rgba(12, 37, 18, 0.9); /* Slightly lighter shade */
}

.modal-content button:active, .google-login-button:active {
    background-color: rgba(12, 37, 18, 1); /* Slightly darker shade */
}

/* Adjust form titles to match the overall theme */
.modal-content h2, .modal-content h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a5568; /* Match your theme color */
}

/* Modal content for images */
.image-modal-content {
    background-color: transparent;
    margin: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    width: auto;
    max-width: 90%;
    box-shadow: none;
}

.image-modal-content img {
    max-width: 100%;
    height: auto;
}

/* Styles for the menu */
.menu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px; /* Adjust width as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #4a5568;
    border-radius: 5px;
    transition: background-color 0.05s;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

.menu-item i {
    margin-right: 10px;
    font-size: 20px;
    color: #4a5568;
}

/* Additional styles for login modal links */
.login-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Styles for the "Forgot password?" link */
#forgotPassword {
    color: #4a5568;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold; /* Make the link bold to distinguish it from other text */
}

#forgotPassword:hover {
    text-decoration: underline;
}

/* Styles for the sign-up link */
.signup-link {
    margin-top: 10px;
    font-size: 14px;
    color: #4a5568;
}

.signup-link a {
    color: #4a5568;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Styles for the Google login button */
.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.2s ease;
}

.google-login-button:hover {
    background-color: #357ae8;
}

.google-login-button:active {
    background-color: #2a65c7;
}

.google-login-button svg {
    margin-right: 10px;
}
