/* styles.css */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #e6f2e6;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
    padding-top: 20px;
}
.header {
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
}
.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: none;
}
.header .row.center {
    justify-content: center;
}
.header .title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: none;
    color: #26441f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Optional: add a subtle shadow for better visibility */
}
.header .version {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #26441f;
    padding: 3px 6px;
    border-radius: 4px;
    position: absolute;
    left: 30px;
}
.banner-image {
    width: 100%;
    height: auto;
}
.goals, .meals, .exercise, .summary {
    margin-bottom: 20px;
    padding: 0 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #4CAF50; /* A medium green */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #327235; /* A slightly darker green for hover effect */
}
.meal-slot {
    background-color: #ebf3e9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.meal-slot h3 {
    margin-top: 0;
    color: #2e312e;
}
#editGoalsForm, .meal-form, #exerciseForm {
    display: none;
}
.date-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.date-navigation button {
    background-color: rgba(38, 68, 31, 0.7); /* Dark green with some transparency */
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    padding: 8px 15px;
    transition: all 0.05s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}
.date-navigation button:hover {
    background-color: rgba(32, 58, 27, 0.9); /* A slightly darker green with less transparency for hover effect */
    border-color: white;
}
.date-navigation button:active {
    background-color: rgba(38, 68, 31, 1); /* Solid dark green for active state */
    transform: translateY(0.5px);
}
.date-navigation .today-button {
    font-size: 20px;
}
.meal-item, .exercise-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.meal-item .drag-area, .meal-item .button-area, .exercise-item .button-area {
    flex: 0 0 20%;
    text-align: center;
}
.meal-item .drag-area {
    cursor: grab;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-right: 10px;
}
.meal-item p, .exercise-item p {
    margin: 0;
    flex: 1;
}
.meal-item .button-area button, .exercise-item .button-area button {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}
.meal-item .button-area .edit-button {
    background-color: green;
}
.meal-item .button-area .remove-button, .exercise-item .button-area .remove-button {
    background-color: red;
}
.progress-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.progress-bar-label {
    width: 20%;
    padding-right: 5px;
}
.progress-bar {
    width: 80%;
    background-color: #e0f2e9;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.progress-bar-fill {
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: white;
    line-height: 20px;
    background: linear-gradient(30deg, #b2dfdb, #4caf50);
    z-index: 1;
}
.progress-bar-overfill {
    background-color: red !important;
}
.image-upload-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Optional: center vertically */
}
.image-upload-container input[type="file"] {
    display: none;
}
.image-upload-container label {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px; /* Add some space between buttons */
}
.image-upload-container label:hover {
    background-color: #45a049;
}
#uploadedImage {
    max-width: 100%;
    margin-top: 10px;
    display: none;
}
#uploadedImageBreakfast,
#uploadedImageLunch,
#uploadedImageDinner,
#uploadedImageSnacks {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Center the image */
}
#currentDateDisplay {
    font-size: 18px; /* Adjust as needed */
    font-weight: bold;
    color: #26441f; /* A dark green color */
    padding: 5px; /* Optional: add some padding for better visibility */
    border-radius: 5px; /* Optional: round the corners of the background */
    display: inline-block; /* Optional: to ensure padding and background work properly */
}
